body{
    background-color: black;
    color: lightskyblue;
}

button#sendToAll{
    background-color: lightskyblue;
    color: black;
}

button#sendToMe{
    background-color: darkblue;
    color: white;
}

div.target{
    background-color: lightgrey;
    color: blue;
    overflow: hidden;
    border: darkblue 2px;
    width: 50%;
    height: 50%;
    margin: auto;
}

.chatroom{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}