body{
    background-color: black;
    color: lightskyblue;
}

button#sendToAll{
    background-color: lightskyblue;
    color: black;
}

button#sendToMe{
    background-color: darkblue;
    color: white;
}

div.target{
    background-color: lightgrey;
    color: blue;
    overflow-y: scroll;
    border: solid darkblue 2px;
    width: 80%;
    height: 90%;
    margin: auto;
    text-align: left;
}

.chat{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}


div.onlineUsers{
    background-color: lightgrey;
    color: blue;
    overflow: hidden;
    border: solid darkblue 2px;
    width: 10%;
    height: 10%;
    margin-top: 2.5em;
    float: right;
}

div.chatroom{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-height: 500px;
}

h3{
    text-decoration: underline;
}


.input{
    word-wrap: break-word;
}